.CompteurContainer{
    height: 55vh;
    width: 45vw;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    transition: 0.4s;
    text-shadow: 10px 16px 7px rgba(21,9,5,0.42), 10px 16px 7px rgba(21,9,5,0.42);
    -webkit-box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85); 
    box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85);

}


.CompteurContainerPLUS{
    height: 59vh;
    width: 49vw;
    border: 9px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    transition: 0.4s;

}

.CompteurContainerMOINS{
    height: 51vh;
    width: 41vw;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    transition: 0.4s;

}

.CompteurContainerValidation{
    height: 55vh;
    width: 45vw;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    transition: 0.4s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


.BlocNombreBAse{
    color: black;

}

.BlocNOmbreRed{
    color: rgb(238, 14, 14);
}


.Bloc2 button {
    height: 5vh;
    width: 8vw;
    font-size: 1.1rem;
}


.NbClient{
    font-size: 3.5rem;
}

@media screen and (max-width: 400px) {
    .CompteurContainer{

        height: 80vh;
        width: 80vw;
    }

    .Bloc2 button {
        height: 5vh;
        width: 70%;
        font-size: 1.1rem;
    }

    .CompteurContainer{
        height: 75vh;
        width: 95vw;
        border: 5px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        transition: 0.4s;
        text-shadow: 10px 16px 7px rgba(21,9,5,0.42), 10px 16px 7px rgba(21,9,5,0.42);
        -webkit-box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85); 
        box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85);
    
    }
    
    
    .CompteurContainerPLUS{
        height: 75vh;
        width: 95vw;
        border: 3px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        transition: 0.4s;
        text-shadow: 10px 16px 7px rgba(21,9,5,0.42), 10px 16px 7px rgba(21,9,5,0.42);
        -webkit-box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85); 
        box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85);
    
    }
    
    .CompteurContainerMOINS{
        height: 75vh;
        width: 95vw;
        border: 3px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        transition: 0.4s;
        text-shadow: 10px 16px 7px rgba(21,9,5,0.42), 10px 16px 7px rgba(21,9,5,0.42);
        -webkit-box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85); 
        box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85);
    
    }
    
    .CompteurContainerValidation{
        height: 75vh;
        width: 95vw;
        border: 5px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        transition: 0.4s;
        text-shadow: 10px 16px 7px rgba(21,9,5,0.42), 10px 16px 7px rgba(21,9,5,0.42);
        -webkit-box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85); 
        box-shadow: 14px 11px 15px 5px rgba(0,0,0,0.85);
    }



}


.Bloc1{
    width: 80%;
    height: 15vh;
    font-style: oblique;
    font-weight: bold;

}

.Bloc2{
    width: 80%;
    height: 15vh;

}




.Bloc3{
    width: 80%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    margin: 2%;
    background-color: black;
    color: rgb(255, 127, 0);
    border-radius: 20px;
    outline: none;
    width: 15vw;
    height: 10vh;
    font-size: 1.6rem;
}