.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 127, 0);
  font-size: 100%;
  font-style: oblique;
  font-weight: bold;
}


